In [115]:
import pandas as pd

In [ ]:
# Based on the Summary Stats code, we found detailed summary of all the datasets. In this section,
# we will deal with the missing, unknown or redundant variables and clean our dataset!

In [169]:
# application_train - First and Main dataset
application_train = pd.read_csv('application_train.csv')

In [170]:
# Drop columns that cannot be explained
application_train = application_train.drop(columns=['FLAG_MOBIL', 'FLAG_PHONE', 'FLAG_DOCUMENT_2',
                                                        'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5',
                                                        'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8',
                                                        'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11',
                                                        'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14',
                                                        'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17',
                                                        'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
                                                        'FLAG_DOCUMENT_21', 'OWN_CAR_AGE', 'FLAG_MOBIL', 'EXT_SOURCE_1',
                                                   'EXT_SOURCE_3', 'APARTMENTS_AVG', 'BASEMENTAREA_AVG', 'YEARS_BEGINEXPLUATATION_AVG',
                                                   'YEARS_BUILD_AVG', 'COMMONAREA_AVG','ELEVATORS_AVG','ENTRANCES_AVG', 'FLOORSMAX_AVG',
                                                   'FLOORSMIN_AVG', 'LANDAREA_AVG', 'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG',
                                                   'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAREA_AVG', 'APARTMENTS_MODE', 'BASEMENTAREA_MODE',
                                                   'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BUILD_MODE', 'COMMONAREA_MODE','ELEVATORS_MODE',
                                                   'ENTRANCES_MODE', 'FLOORSMAX_MODE', 'FLOORSMAX_MODE', 'FLOORSMIN_MODE', 'LANDAREA_MODE',
                                                   'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE', 'NONLIVINGAPARTMENTS_MODE',  'NONLIVINGAREA_MODE',
                                                   'NONLIVINGAREA_MODE', 'APARTMENTS_MEDI', 'BASEMENTAREA_MEDI', 'YEARS_BEGINEXPLUATATION_MEDI',
                                                   'YEARS_BUILD_MEDI', 'COMMONAREA_MEDI', 'ELEVATORS_MEDI', 'ENTRANCES_MEDI', 'FLOORSMAX_MEDI',
                                                   'FLOORSMIN_MEDI', 'LANDAREA_MEDI', 'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI', 'NONLIVINGAPARTMENTS_MEDI',
                                                   'NONLIVINGAREA_MEDI', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'TOTALAREA_MODE', 'WALLSMATERIAL_MODE',
                                                   'EMERGENCYSTATE_MODE', ])

In [171]:
# Deal with missing variables
application_train['AMT_ANNUITY'] = application_train['AMT_ANNUITY'].fillna(application_train['AMT_ANNUITY'].mean())
application_train['AMT_GOODS_PRICE'] = application_train['AMT_GOODS_PRICE'].fillna(application_train['AMT_GOODS_PRICE'].mean())
application_train['CNT_FAM_MEMBERS'] = application_train['CNT_FAM_MEMBERS'].fillna(application_train['CNT_FAM_MEMBERS'].mean())
application_train['EXT_SOURCE_2'] = application_train['EXT_SOURCE_2'].fillna(application_train['EXT_SOURCE_2'].mean())
application_train['OBS_30_CNT_SOCIAL_CIRCLE'] = application_train['OBS_30_CNT_SOCIAL_CIRCLE'].fillna(application_train['OBS_30_CNT_SOCIAL_CIRCLE'].mean())
application_train['DEF_30_CNT_SOCIAL_CIRCLE'] = application_train['DEF_30_CNT_SOCIAL_CIRCLE'].fillna(application_train['DEF_30_CNT_SOCIAL_CIRCLE'].mean())
application_train['OBS_60_CNT_SOCIAL_CIRCLE'] = application_train['OBS_60_CNT_SOCIAL_CIRCLE'].fillna(application_train['OBS_60_CNT_SOCIAL_CIRCLE'].mean())
application_train['DEF_60_CNT_SOCIAL_CIRCLE'] = application_train['DEF_60_CNT_SOCIAL_CIRCLE'].fillna(application_train['DEF_60_CNT_SOCIAL_CIRCLE'].mean())
application_train['DAYS_LAST_PHONE_CHANGE'] = application_train['DAYS_LAST_PHONE_CHANGE'].fillna(application_train['DAYS_LAST_PHONE_CHANGE'].mean())
application_train['AMT_REQ_CREDIT_BUREAU_HOUR'] = application_train['AMT_REQ_CREDIT_BUREAU_HOUR'].fillna(application_train['AMT_REQ_CREDIT_BUREAU_HOUR'].mean())
application_train['AMT_REQ_CREDIT_BUREAU_DAY'] = application_train['AMT_REQ_CREDIT_BUREAU_DAY'].fillna(application_train['AMT_REQ_CREDIT_BUREAU_DAY'].mean())
application_train['AMT_REQ_CREDIT_BUREAU_WEEK'] = application_train['AMT_REQ_CREDIT_BUREAU_WEEK'].fillna(application_train['AMT_REQ_CREDIT_BUREAU_WEEK'].mean())
application_train['AMT_REQ_CREDIT_BUREAU_MON'] = application_train['AMT_REQ_CREDIT_BUREAU_MON'].fillna(application_train['AMT_REQ_CREDIT_BUREAU_MON'].mean())
application_train['AMT_REQ_CREDIT_BUREAU_QRT'] = application_train['AMT_REQ_CREDIT_BUREAU_QRT'].fillna(application_train['AMT_REQ_CREDIT_BUREAU_QRT'].mean())
application_train['AMT_REQ_CREDIT_BUREAU_YEAR'] = application_train['AMT_REQ_CREDIT_BUREAU_YEAR'].fillna(application_train['AMT_REQ_CREDIT_BUREAU_YEAR'].mean())

#Categorical Missing values
application_train['NAME_TYPE_SUITE'].fillna(application_train['NAME_TYPE_SUITE'].mode()[0], inplace=True)
application_train['OCCUPATION_TYPE'].fillna(application_train['OCCUPATION_TYPE'].mode()[0], inplace=True)

In [130]:
application_train

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,2.0,2.0,2.0,-1134.0,0.000000,0.000,0.000000,0.000000,0.000000,1.000000
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0.0,1.0,0.0,-828.0,0.000000,0.000,0.000000,0.000000,0.000000,0.000000
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0.0,0.0,0.0,-815.0,0.000000,0.000,0.000000,0.000000,0.000000,0.000000
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0.0,2.0,0.0,-617.0,0.006402,0.007,0.034362,0.267395,0.265474,1.899974
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0.0,0.0,0.0,-1106.0,0.000000,0.000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,0.0,0.0,0.0,-273.0,0.006402,0.007,0.034362,0.267395,0.265474,1.899974
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,0.0,0.0,0.0,0.0,0.006402,0.007,0.034362,0.267395,0.265474,1.899974
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,0.0,6.0,0.0,-1909.0,1.000000,0.000,0.000000,1.000000,0.000000,1.000000
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0.0,0.0,0.0,-322.0,0.000000,0.000,0.000000,0.000000,0.000000,0.000000
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,0.0,0.0,0.0,-787.0,0.000000,0.000,0.000000,2.000000,0.000000,1.000000

In [173]:
#bureau_balance - Second dataset
bureau_balance = pd.read_csv('bureau_balance.csv')

# Drop irrelevant columns
bureau_balance = bureau_balance.drop(columns=['MONTHS_BALANCE'])

In [174]:
# Data transformation. New variable is made which will be used in analysis
bureau_balance['STATUS_0'] = (bureau_balance['STATUS'] == '0').astype(int)
bureau_balance['STATUS_TOTAL'] = 1
bureau_balance = bureau_balance.drop(columns=['STATUS'])
bureau_balance = bureau_balance.groupby(['SK_ID_BUREAU']).sum()
bureau_balance['STATUS_0'] = bureau_balance['STATUS_0'] / bureau_balance['STATUS_TOTAL']
bureau_balance = bureau_balance.drop(columns=['STATUS_TOTAL'])

In [175]:
# bureau
bureau = pd.read_csv('bureau.csv')

In [176]:
# Drop irrelevant columns
bureau = bureau.drop(columns=['CREDIT_CURRENCY', 'DAYS_CREDIT', 'CREDIT_DAY_OVERDUE',
                                  'DAYS_CREDIT_ENDDATE', 'DAYS_ENDDATE_FACT', 'DAYS_CREDIT_UPDATE',
                                  'AMT_ANNUITY'])
# Merge bureau_balance to bureau
bureau_1 = pd.merge(bureau, bureau_balance, how='left', on=['SK_ID_BUREAU'])

# Drop columns with more than 90% NaN
bureau_2 = bureau_1.dropna(thresh=int(0.1*len(bureau)), axis=1)

# Drop bureau ID
bureau_2 = bureau_2.drop(columns=['SK_ID_BUREAU'])

# Fill NaN
bureau_3 = bureau_2.copy()
bureau_3['CREDIT_ACTIVE'] = bureau_3['CREDIT_ACTIVE'].fillna('Active')
bureau_3['AMT_CREDIT_MAX_OVERDUE'] = bureau_3['AMT_CREDIT_MAX_OVERDUE'].fillna(0)
bureau_3['CNT_CREDIT_PROLONG'] = bureau_3['CNT_CREDIT_PROLONG'].fillna(0)
bureau_3['AMT_CREDIT_SUM'] = bureau_3['AMT_CREDIT_SUM'].fillna(0)
bureau_3['AMT_CREDIT_SUM_DEBT'] = bureau_3['AMT_CREDIT_SUM_DEBT'].fillna(0)
bureau_3['AMT_CREDIT_SUM_LIMIT'] = bureau_3['AMT_CREDIT_SUM_LIMIT'].fillna(0)
bureau_3['AMT_CREDIT_SUM_OVERDUE'] = bureau_3['AMT_CREDIT_SUM_OVERDUE'].fillna(0)

# Data transformation
bureau_4 = bureau_3.copy()
bureau_4['TOTAL'] = 1
bureau_4['CREDIT_ACTIVE'] = (bureau_4['CREDIT_ACTIVE'] == 'Active').astype(int)
bureau_4['CREDIT_TYPE_CREDIT_CARD'] = (bureau_4['CREDIT_TYPE'] == 'Credit card').astype(int)
bureau_4['CREDIT_TYPE_CONSUMER_CREDIT'] = (bureau_4['CREDIT_TYPE'] == 'Consumer credit').astype(int)
bureau_4 = bureau_4.drop(columns=['CREDIT_TYPE'])

# Sum
bureau_sum = bureau_4[['SK_ID_CURR', 'CREDIT_ACTIVE', 'AMT_CREDIT_SUM', 'AMT_CREDIT_SUM_DEBT',
                           'AMT_CREDIT_SUM_LIMIT', 'AMT_CREDIT_SUM_OVERDUE', 'CREDIT_TYPE_CREDIT_CARD',
                           'CREDIT_TYPE_CONSUMER_CREDIT', 'TOTAL']]
bureau_sum = bureau_sum.groupby(['SK_ID_CURR']).sum()
bureau_sum['CREDIT_ACTIVE'] = bureau_sum['CREDIT_ACTIVE'] / bureau_sum['TOTAL']
bureau_sum['CREDIT_TYPE_CREDIT_CARD'] = bureau_sum['CREDIT_TYPE_CREDIT_CARD'] / bureau_sum['TOTAL']
bureau_sum['CREDIT_TYPE_CONSUMER_CREDIT'] = bureau_sum['CREDIT_TYPE_CONSUMER_CREDIT'] / bureau_sum['TOTAL']
bureau_sum = bureau_sum.drop(columns=['TOTAL'])
# Mean
bureau_mean = bureau_4[['SK_ID_CURR', 'AMT_CREDIT_MAX_OVERDUE']]
bureau_mean = bureau_mean.groupby(['SK_ID_CURR']).mean()

# Max
bureau_max = bureau_4[['SK_ID_CURR', 'CNT_CREDIT_PROLONG']]
bureau_max = bureau_max.groupby(['SK_ID_CURR']).max()

# NaN mean
# Fill NaN
bureau_nanmean = bureau_4[['SK_ID_CURR', 'STATUS_0']]
bureau_nanmean = bureau_nanmean.groupby(['SK_ID_CURR']).agg({'STATUS_0': lambda x: x.mean(skipna=True)})

In [177]:
# Merge to application_train (Our main dataset)
application_train = pd.merge(application_train, bureau_sum, how='left', on='SK_ID_CURR')
application_train = pd.merge(application_train, bureau_mean, how='left', on='SK_ID_CURR')
application_train = pd.merge(application_train, bureau_max, how='left', on='SK_ID_CURR')
application_train = pd.merge(application_train, bureau_nanmean, how='left', on='SK_ID_CURR')

In [179]:
# Dealing with missing values
application_train['CREDIT_ACTIVE'] = application_train['CREDIT_ACTIVE'].fillna(application_train['CREDIT_ACTIVE'].mean())
application_train['AMT_CREDIT_SUM'] = application_train['AMT_CREDIT_SUM'].fillna(application_train['AMT_CREDIT_SUM'].mean())
application_train['AMT_CREDIT_SUM_DEBT'] = application_train['AMT_CREDIT_SUM_DEBT'].fillna(application_train['AMT_CREDIT_SUM_DEBT'].mean())
application_train['AMT_CREDIT_SUM_LIMIT'] = application_train['AMT_CREDIT_SUM_LIMIT'].fillna(application_train['AMT_CREDIT_SUM_LIMIT'].mean())
application_train['AMT_CREDIT_SUM_OVERDUE'] = application_train['AMT_CREDIT_SUM_OVERDUE'].fillna(application_train['AMT_CREDIT_SUM_OVERDUE'].mean())
application_train['CREDIT_TYPE_CREDIT_CARD'] = application_train['CREDIT_TYPE_CREDIT_CARD'].fillna(application_train['CREDIT_TYPE_CREDIT_CARD'].mean())
application_train['CREDIT_TYPE_CONSUMER_CREDIT'] = application_train['CREDIT_TYPE_CONSUMER_CREDIT'].fillna(application_train['CREDIT_TYPE_CONSUMER_CREDIT'].mean())
application_train['AMT_CREDIT_MAX_OVERDUE'] = application_train['AMT_CREDIT_MAX_OVERDUE'].fillna(application_train['AMT_CREDIT_MAX_OVERDUE'].mean())
application_train['CNT_CREDIT_PROLONG'] = application_train['CNT_CREDIT_PROLONG'].fillna(application_train['CNT_CREDIT_PROLONG'].mean())

In [181]:
application_train = application_train.drop(columns=['STATUS_0'])

In [184]:
# installments_payments - Third Dataset
installments_payments = pd.read_csv('installments_payments.csv')

In [186]:
# Data Transformation
installments_payments['AMT_PAYMENT_GREATER_EQUAL_INSTALMENT'] = (installments_payments['AMT_PAYMENT'] >=
                                                                     installments_payments['AMT_INSTALMENT']).astype(int)
installments_payments_max = installments_payments[['SK_ID_CURR', 'AMT_PAYMENT_GREATER_EQUAL_INSTALMENT']]
installments_payments_max = installments_payments_max.groupby(['SK_ID_CURR']).max()

# Merge to application_train (Our main dataset)
application_train = pd.merge(application_train, installments_payments_max, how='left', on='SK_ID_CURR')

In [191]:
application_train['AMT_PAYMENT_GREATER_EQUAL_INSTALMENT'].fillna(application_train['AMT_PAYMENT_GREATER_EQUAL_INSTALMENT'].mode()[0], inplace=True)

In [195]:
application_train

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,CREDIT_ACTIVE,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE_CREDIT_CARD,CREDIT_TYPE_CONSUMER_CREDIT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_PAYMENT_GREATER_EQUAL_INSTALMENT
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0.250000,8.650556e+05,2.457810e+05,31988.565000,0.000000,0.500000,0.500000,1050.643125,0.000000,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0.250000,1.017400e+06,0.000000e+00,810000.000000,0.000000,0.500000,0.500000,0.000000,0.000000,1.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0.000000,1.890378e+05,0.000000e+00,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0.412972,1.955807e+06,6.406503e+05,23563.474713,223.034341,0.239652,0.719521,1944.903485,0.039239,1.0
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0.000000,1.462500e+05,0.000000e+00,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,0.412972,1.955807e+06,6.406503e+05,23563.474713,223.034341,0.239652,0.719521,1944.903485,0.039239,1.0
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,0.412972,1.955807e+06,6.406503e+05,23563.474713,223.034341,0.239652,0.719521,1944.903485,0.039239,1.0
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,0.500000,3.960000e+06,1.795833e+06,0.000000,0.000000,0.250000,0.750000,0.000000,0.000000,1.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0.000000,4.500000e+04,0.000000e+00,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,0.454545,3.801920e+06,1.534913e+06,0.000000,0.000000,0.181818,0.818182,5480.218636,1.000000,1.0

In [196]:
# credit_card_balance - Fourth Dataset
credit_card_balance = pd.read_csv('credit_card_balance.csv')

# Data Transformation
credit_card_balance_mean = credit_card_balance[['SK_ID_CURR', 'AMT_DRAWINGS_ATM_CURRENT', 'AMT_DRAWINGS_CURRENT',
                                                    'AMT_DRAWINGS_OTHER_CURRENT', 'AMT_DRAWINGS_POS_CURRENT',
                                                    'AMT_RECIVABLE', 'AMT_TOTAL_RECEIVABLE']]

#Missing Values
credit_card_balance_mean = credit_card_balance_mean.fillna(0)
credit_card_balance_mean = credit_card_balance_mean.groupby(['SK_ID_CURR']).mean()

# Merge to application_train (Our main dataset)
application_train = pd.merge(application_train, credit_card_balance_mean, how='left', on='SK_ID_CURR')

In [210]:
# Dealing with missing values
application_train['AMT_DRAWINGS_ATM_CURRENT'] = application_train['AMT_DRAWINGS_ATM_CURRENT'].fillna(0)
application_train['AMT_DRAWINGS_CURRENT'] = application_train['AMT_DRAWINGS_CURRENT'].fillna(0)
application_train['AMT_DRAWINGS_OTHER_CURRENT'] = application_train['AMT_DRAWINGS_OTHER_CURRENT'].fillna(0)
application_train['AMT_DRAWINGS_POS_CURRENT'] = application_train['AMT_DRAWINGS_POS_CURRENT'].fillna(0)
application_train['AMT_RECIVABLE'] = application_train['AMT_RECIVABLE'].fillna(0)
application_train['AMT_TOTAL_RECEIVABLE'] = application_train['AMT_TOTAL_RECEIVABLE'].fillna(0)

In [211]:
missing_columns = application_train.columns[application_train.isnull().any()]
missing_columns

Index([], dtype='object')

In [212]:
application_train

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,CREDIT_TYPE_CONSUMER_CREDIT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_PAYMENT_GREATER_EQUAL_INSTALMENT,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0.500000,1050.643125,0.000000,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0.500000,0.000000,0.000000,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,1.000000,0.000000,0.000000,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0.719521,1944.903485,0.039239,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,1.000000,0.000000,0.000000,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,0.719521,1944.903485,0.039239,1.0,0.0,0.0,0.0,0.0,0.0,0.0
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,0.719521,1944.903485,0.039239,1.0,0.0,0.0,0.0,0.0,0.0,0.0
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,0.750000,0.000000,0.000000,1.0,0.0,0.0,0.0,0.0,0.0,0.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,1.000000,0.000000,0.000000,1.0,0.0,0.0,0.0,0.0,0.0,0.0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,0.818182,5480.218636,1.000000,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [213]:
# POS_CASH_balance - Fifth Dataset
POS_CASH_balance = pd.read_csv('POS_CASH_balance.csv')
POS_CASH_balance = POS_CASH_balance[['SK_ID_CURR', 'CNT_INSTALMENT_FUTURE', 'SK_DPD']]

#Missing Values
POS_CASH_balance = POS_CASH_balance.fillna(0)
POS_CASH_balance['SK_DPD'] = (POS_CASH_balance['SK_DPD'] != 0).astype(int)
POS_CASH_balance_max = POS_CASH_balance[['SK_ID_CURR', 'SK_DPD']]
POS_CASH_balance_max = POS_CASH_balance_max.groupby(['SK_ID_CURR']).max()

# Merge to application_train (Our main dataset)
application_train = pd.merge(application_train, POS_CASH_balance_max, how='left', on='SK_ID_CURR')

POS_CASH_balance_mean = POS_CASH_balance[['SK_ID_CURR', 'CNT_INSTALMENT_FUTURE']]
POS_CASH_balance_mean = POS_CASH_balance_mean.groupby(['SK_ID_CURR']).mean()

# Merge to application_train (Our main dataset)
application_train = pd.merge(application_train, POS_CASH_balance_mean, how='left', on='SK_ID_CURR')

In [220]:
application_train['SK_DPD'].fillna(application_train['SK_DPD'].mode()[0], inplace=True)
application_train['CNT_INSTALMENT_FUTURE'] = application_train['CNT_INSTALMENT_FUTURE'].fillna(application_train['CNT_INSTALMENT_FUTURE'].mean())

In [222]:
application_train

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,CNT_CREDIT_PROLONG,AMT_PAYMENT_GREATER_EQUAL_INSTALMENT,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,SK_DPD,CNT_INSTALMENT_FUTURE
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0.000000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15.000000
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0.000000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.785714
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0.000000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.250000
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0.039239,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.238095
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0.000000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.969697
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,0.039239,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.888889
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,0.039239,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.000000
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,0.000000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.000000
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0.000000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.350000
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,1.000000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,15.140845

In [226]:
data = application_train.dropna(thresh=int(0.1 * len(application_train)), axis=1)
data

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,CNT_CREDIT_PROLONG,AMT_PAYMENT_GREATER_EQUAL_INSTALMENT,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,SK_DPD,CNT_INSTALMENT_FUTURE
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0.000000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15.000000
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0.000000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.785714
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0.000000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.250000
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0.039239,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.238095
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0.000000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.969697
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,0.039239,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.888889
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,0.039239,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.000000
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,0.000000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.000000
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0.000000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.350000
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,1.000000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,15.140845

In [227]:
# Sampling
training = 0.7
training_df = data.sample(n=int(training*len(data)), replace=False, random_state=1)
testing_df = data[~data['SK_ID_CURR'].isin(training_df['SK_ID_CURR'])]

In [228]:
training_df

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,CNT_CREDIT_PROLONG,AMT_PAYMENT_GREATER_EQUAL_INSTALMENT,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,SK_DPD,CNT_INSTALMENT_FUTURE
64282,174545,1,Cash loans,F,N,Y,0,135000.0,654498.0,31617.0,...,0.000000,1.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,1.0,13.622222
94645,209898,0,Cash loans,M,Y,Y,0,135000.0,234576.0,25393.5,...,0.000000,1.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,6.500000
306349,454938,0,Cash loans,M,Y,Y,0,112500.0,157914.0,16753.5,...,0.039239,1.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,3.000000
258314,398930,0,Cash loans,M,Y,N,0,247500.0,1125000.0,36292.5,...,0.000000,1.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,5.261905
87597,201672,0,Cash loans,M,N,Y,0,202500.0,900000.0,35158.5,...,0.000000,1.0,1467.391304,1467.391304,0.0,0.0,17330.187228,17330.187228,0.0,4.818182
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181695,310597,0,Cash loans,F,Y,Y,0,216000.0,888840.0,32053.5,...,0.000000,1.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,1.0,9.000000
79679,192363,0,Cash loans,M,Y,Y,1,135000.0,314100.0,21375.0,...,0.000000,1.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,6.500000
180433,309109,0,Cash loans,M,Y,Y,0,382500.0,781920.0,37615.5,...,0.000000,1.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,4.833333
64568,174877,0,Cash loans,M,Y,Y,0,216000.0,1467612.0,54517.5,...,0.000000,1.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,12.458333
114782,233096,0,Cash loans,M,N,N,0,180000.0,90000.0,7110.0,...,0.000000,1.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,16.727273

In [229]:
testing_df

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,CNT_CREDIT_PROLONG,AMT_PAYMENT_GREATER_EQUAL_INSTALMENT,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,SK_DPD,CNT_INSTALMENT_FUTURE
0,100002,1,Cash loans,M,N,Y,0,202500.000,406597.5,24700.5,...,0.000000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15.000000
2,100004,0,Revolving loans,M,Y,Y,0,67500.000,135000.0,6750.0,...,0.000000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.250000
5,100008,0,Cash loans,M,N,Y,0,99000.000,490495.5,27517.5,...,0.000000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,4.108434
7,100010,0,Cash loans,M,Y,Y,0,360000.000,1530000.0,42075.0,...,0.000000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.000000
11,100015,0,Cash loans,F,N,Y,0,38419.155,148365.0,10678.5,...,0.000000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,5.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307505,456249,0,Cash loans,F,N,Y,0,112500.000,225000.0,22050.0,...,0.000000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.461538
307506,456251,0,Cash loans,M,N,N,0,157500.000,254700.0,27558.0,...,0.039239,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.888889
307507,456252,0,Cash loans,F,N,Y,0,72000.000,269550.0,12001.5,...,0.039239,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.000000
307508,456253,0,Cash loans,F,N,Y,0,153000.000,677664.0,29979.0,...,0.000000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.000000
307509,456254,1,Cash loans,F,N,Y,0,171000.000,370107.0,20205.0,...,0.000000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.350000