In [1]:
import pandas as pd

In [2]:
# application_train - First Dataset
application_train = pd.read_csv('application_train.csv')

In [3]:
# Missing Data
missing = pd.DataFrame(application_train.isnull().sum())
missing

                                0
SK_ID_CURR                      0
TARGET                          0
NAME_CONTRACT_TYPE              0
CODE_GENDER                     0
FLAG_OWN_CAR                    0
...                           ...
AMT_REQ_CREDIT_BUREAU_DAY   41519
AMT_REQ_CREDIT_BUREAU_WEEK  41519
AMT_REQ_CREDIT_BUREAU_MON   41519
AMT_REQ_CREDIT_BUREAU_QRT   41519
AMT_REQ_CREDIT_BUREAU_YEAR  41519

[122 rows x 1 columns]

In [4]:
# Summary Statistics
X_describe = application_train.describe(include='all').T

result = pd.concat([X_describe], axis=0).rename(columns={'count': 'Non-missing Count', 'mean': 'Mean', 'std': 'Standard Deviation', 'min': 'Minimum', '25%': '25th percentile', '50%': '50th percentile', '75%': '75th percentile', 'max': 'Maximum', 'unique': 'Unique Values Count', 'top': 'Mode', 'freq': 'Mode Frequency'})
result['Missing Count'] = pd.concat([missing], axis=0)
result['Data Type'] = pd.concat([application_train.dtypes], axis=0)

# Display the result
pd.set_option('display.max_rows', None)
display(result)

,Non-missing Count,Unique Values Count,Mode,Mode Frequency,Mean,Standard Deviation,Minimum,25th percentile,50th percentile,75th percentile,Maximum,Missing Count,Data Type
SK_ID_CURR,307511.0,NaN,NaN,NaN,278180.518577,102790.175348,100002.0,189145.5,278202.0,367142.5,456255.0,0,int64
TARGET,307511.0,NaN,NaN,NaN,0.080729,0.272419,0.0,0.0,0.0,0.0,1.0,0,int64
NAME_CONTRACT_TYPE,307511,2,Cash loans,278232,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,object
CODE_GENDER,307511,3,F,202448,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,object
FLAG_OWN_CAR,307511,2,N,202924,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,object
FLAG_OWN_REALTY,307511,2,Y,213312,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,object
CNT_CHILDREN,307511.0,NaN,NaN,NaN,0.417052,0.722121,0.0,0.0,0.0,1.0,19.0,0,int64
AMT_INCOME_TOTAL,307511.0,NaN,NaN,NaN,168797.919297,237123.146279,25650.0,112500.0,147150.0,202500.0,117000000.0,0,float64
AMT_CREDIT,307511.0,NaN,NaN,NaN,599025.999706,402490.776996,45000.0,270000.0,513531.0,808650.0,4050000.0,0,float64
AMT_ANNUITY,307499.0,NaN,NaN,NaN,27108.573909,14493.737315,1615.5,16524.0,24903.0,34596.0,258025.5,12,float64
AMT_GOODS_PRICE,307233.0,NaN,NaN,NaN,538396.207429,369446.46054,40500.0,238500.0,450000.0,679500.0,4050000.0,278,float64
NAME_TYPE_SUITE,306219,7,Unaccompanied,248526,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1292,object
NAME_INCOME_TYPE,307511,8,Working,158774,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,object
NAME_EDUCATION_TYPE,307511,5,Secondary / secondary special,218391,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,object
NAME_FAMILY_STATUS,307511,6,Married,196432,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,object
NAME_HOUSING_TYPE,307511,6,House / apartment,272868,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,object
REGION_POPULATION_RELATIVE,307511.0,NaN,NaN,NaN,0.020868,0.013831,0.00029,0.010006,0.01885,0.028663,0.072508,0,float64
DAYS_BIRTH,307511.0,NaN,NaN,NaN,-16036.995067,4363.988632,-25229.0,-19682.0,-15750.0,-12413.0,-7489.0,0,int64
DAYS_EMPLOYED,307511.0,NaN,NaN,NaN,63815.045904,141275.766519,-17912.0,-2760.0,-1213.0,-289.0,365243.0,0,int64
DAYS_REGISTRATION,307511.0,NaN,NaN,NaN,-4986.120328,3522.886321,-24672.0,-7479.5,-4504.0,-2010.0,0.0,0,float64
DAYS_ID_PUBLISH,307511.0,NaN,NaN,NaN,-2994.202373,1509.450419,-7197.0,-4299.0,-3254.0,-1720.0,0.0,0,int64
OWN_CAR_AGE,104582.0,NaN,NaN,NaN,12.061091,11.944812,0.0,5.0,9.0,15.0,91.0,202929,float64
FLAG_MOBIL,307511.0,NaN,NaN,NaN,0.999997,0.001803,0.0,1.0,1.0,1.0,1.0,0,int64
FLAG_EMP_PHONE,307511.0,NaN,NaN,NaN,0.819889,0.38428,0.0,1.0,1.0,1.0,1.0,0,int64
FLAG_WORK_PHONE,307511.0,NaN,NaN,NaN,0.199368,0.399526,0.0,0.0,0.0,0.0,1.0,0,int64
FLAG_CONT_MOBILE,307511.0,NaN,NaN,NaN,0.998133,0.043164,0.0,1.0,1.0,1.0,1.0,0,int64
FLAG_PHONE,307511.0,NaN,NaN,NaN,0.281066,0.449521,0.0,0.0,0.0,1.0,1.0,0,int64
FLAG_EMAIL,307511.0,NaN,NaN,NaN,0.05672,0.231307,0.0,0.0,0.0,0.0,1.0,0,int64
OCCUPATION_TYPE,211120,18,Laborers,55186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96391,object
CNT_FAM_MEMBERS,307509.0,NaN,NaN,NaN,2.152665,0.910682,1.0,2.0,2.0,3.0,20.0,2,float64
REGION_RATING_CLIENT,307511.0,NaN,NaN,NaN,2.052463,0.509034,1.0,2.0,2.0,2.0,3.0,0,int64
REGION_RATING_CLIENT_W_CITY,307511.0,NaN,NaN,NaN,2.031521,0.502737,1.0,2.0,2.0,2.0,3.0,0,int64
WEEKDAY_APPR_PROCESS_START,307511,7,TUESDAY,53901,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,object
HOUR_APPR_PROCESS_START,307511.0,NaN,NaN,NaN,12.063419,3.265832,0.0,10.0,12.0,14.0,23.0,0,int64
REG_REGION_NOT_LIVE_REGION,307511.0,NaN,NaN,NaN,0.015144,0.122126,0.0,0.0,0.0,0.0,1.0,0,int64
REG_REGION_NOT_WORK_REGION,307511.0,NaN,NaN,NaN,0.050769,0.219526,0.0,0.0,0.0,0.0,1.0,0,int64
LIVE_REGION_NOT_WORK_REGION,307511.0,NaN,NaN,NaN,0.040659,0.197499,0.0,0.0,0.0,0.0,1.0,0,int64
REG_CITY_NOT_LIVE_CITY,307511.0,NaN,NaN,NaN,0.078173,0.268444,0.0,0.0,0.0,0.0,1.0,0,int64
REG_CITY_NOT_WORK_CITY,307511.0,NaN,NaN,NaN,0.230454,0.421124,0.0,0.0,0.0,0.0,1.0,0,int64
LIVE_CITY_NOT_WORK_CITY,307511.0,NaN,NaN,NaN,0.179555,0.383817,0.0,0.0,0.0,0.0,1.0,0,int64
ORGANIZATION_TYPE,307511,58,Business Entity Type 3,67992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,object
EXT_SOURCE_1,134133.0,NaN,NaN,NaN,0.50213,0.211062,0.014568,0.334007,0.505998,0.675053,0.962693,173378,float64
EXT_SOURCE_2,306851.0,NaN,NaN,NaN,0.514393,0.19106,0.0,0.392457,0.565961,0.663617,0.855,660,float64
EXT_SOURCE_3,246546.0,NaN,NaN,NaN,0.510853,0.194844,0.000527,0.37065,0.535276,0.669057,0.89601,60965,float64
APARTMENTS_AVG,151450.0,NaN,NaN,NaN,0.11744,0.10824,0.0,0.0577,0.0876,0.1485,1.0,156061,float64
BASEMENTAREA_AVG,127568.0,NaN,NaN,NaN,0.088442,0.082438,0.0,0.0442,0.0763,0.1122,1.0,179943,float64
YEARS_BEGINEXPLUATATION_AVG,157504.0,NaN,NaN,NaN,0.977735,0.059223,0.0,0.9767,0.9816,0.9866,1.0,150007,float64
YEARS_BUILD_AVG,103023.0,NaN,NaN,NaN,0.752471,0.11328,0.0,0.6872,0.7552,0.8232,1.0,204488,float64
COMMONAREA_AVG,92646.0,NaN,NaN,NaN,0.044621,0.076036,0.0,0.0078,0.0211,0.0515,1.0,214865,float64
ELEVATORS_AVG,143620.0,NaN,NaN,NaN,0.078942,0.134576,0.0,0.0,0.0,0.12,1.0,163891,float64
ENTRANCES_AVG,152683.0,NaN,NaN,NaN,0.149725,0.100049,0.0,0.069,0.1379,0.2069,1.0,154828,float64
FLOORSMAX_AVG,154491.0,NaN,NaN,NaN,0.226282,0.144641,0.0,0.1667,0.1667,0.3333,1.0,153020,float64
FLOORSMIN_AVG,98869.0,NaN,NaN,NaN,0.231894,0.16138,0.0,0.0833,0.2083,0.375,1.0,208642,float64
LANDAREA_AVG,124921.0,NaN,NaN,NaN,0.066333,0.081184,0.0,0.0187,0.0481,0.0856,1.0,182590,float64
LIVINGAPARTMENTS_AVG,97312.0,NaN,NaN,NaN,0.100775,0.092576,0.0,0.0504,0.0756,0.121,1.0,210199,float64
LIVINGAREA_AVG,153161.0,NaN,NaN,NaN,0.107399,0.110565,0.0,0.0453,0.0745,0.1299,1.0,154350,float64
NONLIVINGAPARTMENTS_AVG,93997.0,NaN,NaN,NaN,0.008809,0.047732,0.0,0.0,0.0,0.0039,1.0,213514,float64
NONLIVINGAREA_AVG,137829.0,NaN,NaN,NaN,0.028358,0.069523,0.0,0.0,0.0036,0.0277,1.0,169682,float64
APARTMENTS_MODE,151450.0,NaN,NaN,NaN,0.114231,0.107936,0.0,0.0525,0.084,0.1439,1.0,156061,float64
BASEMENTAREA_MODE,127568.0,NaN,NaN,NaN,0.087543,0.084307,0.0,0.0407,0.0746,0.1124,1.0,179943,float64
YEARS_BEGINEXPLUATATION_MODE,157504.0,NaN,NaN,NaN,0.977065,0.064575,0.0,0.9767,0.9816,0.9866,1.0,150007,float64
YEARS_BUILD_MODE,103023.0,NaN,NaN,NaN,0.759637,0.110111,0.0,0.6994,0.7648,0.8236,1.0,204488,float64
COMMONAREA_MODE,92646.0,NaN,NaN,NaN,0.042553,0.074445,0.0,0.0072,0.019,0.049,1.0,214865,float64
ELEVATORS_MODE,143620.0,NaN,NaN,NaN,0.07449,0.132256,0.0,0.0,0.0,0.1208,1.0,163891,float64
ENTRANCES_MODE,152683.0,NaN,NaN,NaN,0.145193,0.100977,0.0,0.069,0.1379,0.2069,1.0,154828,float64
FLOORSMAX_MODE,154491.0,NaN,NaN,NaN,0.222315,0.143709,0.0,0.1667,0.1667,0.3333,1.0,153020,float64
FLOORSMIN_MODE,98869.0,NaN,NaN,NaN,0.228058,0.16116,0.0,0.0833,0.2083,0.375,1.0,208642,float64
LANDAREA_MODE,124921.0,NaN,NaN,NaN,0.064958,0.08175,0.0,0.0166,0.0458,0.0841,1.0,182590,float64
LIVINGAPARTMENTS_MODE,97312.0,NaN,NaN,NaN,0.105645,0.09788,0.0,0.0542,0.0771,0.1313,1.0,210199,float64
LIVINGAREA_MODE,153161.0,NaN,NaN,NaN,0.105975,0.111845,0.0,0.0427,0.0731,0.1252,1.0,154350,float64
NONLIVINGAPARTMENTS_MODE,93997.0,NaN,NaN,NaN,0.008076,0.046276,0.0,0.0,0.0,0.0039,1.0,213514,float64
NONLIVINGAREA_MODE,137829.0,NaN,NaN,NaN,0.027022,0.070254,0.0,0.0,0.0011,0.0231,1.0,169682,float64
APARTMENTS_MEDI,151450.0,NaN,NaN,NaN,0.11785,0.109076,0.0,0.0583,0.0864,0.1489,1.0,156061,float64
BASEMENTAREA_MEDI,127568.0,NaN,NaN,NaN,0.087955,0.082179,0.0,0.0437,0.0758,0.1116,1.0,179943,float64
YEARS_BEGINEXPLUATATION_MEDI,157504.0,NaN,NaN,NaN,0.977752,0.059897,0.0,0.9767,0.9816,0.9866,1.0,150007,float64
YEARS_BUILD_MEDI,103023.0,NaN,NaN,NaN,0.755746,0.112066,0.0,0.6914,0.7585,0.8256,1.0,204488,float64
COMMONAREA_MEDI,92646.0,NaN,NaN,NaN,0.044595,0.076144,0.0,0.0079,0.0208,0.0513,1.0,214865,float64
ELEVATORS_MEDI,143620.0,NaN,NaN,NaN,0.078078,0.134467,0.0,0.0,0.0,0.12,1.0,163891,float64
ENTRANCES_MEDI,152683.0,NaN,NaN,NaN,0.149213,0.100368,0.0,0.069,0.1379,0.2069,1.0,154828,float64
FLOORSMAX_MEDI,154491.0,NaN,NaN,NaN,0.225897,0.145067,0.0,0.1667,0.1667,0.3333,1.0,153020,float64
FLOORSMIN_MEDI,98869.0,NaN,NaN,NaN,0.231625,0.161934,0.0,0.0833,0.2083,0.375,1.0,208642,float64
LANDAREA_MEDI,124921.0,NaN,NaN,NaN,0.067169,0.082167,0.0,0.0187,0.0487,0.0868,1.0,182590,float64
LIVINGAPARTMENTS_MEDI,97312.0,NaN,NaN,NaN,0.101954,0.093642,0.0,0.0513,0.0761,0.1231,1.0,210199,float64
LIVINGAREA_MEDI,153161.0,NaN,NaN,NaN,0.108607,0.11226,0.0,0.0457,0.0749,0.1303,1.0,154350,float64
NONLIVINGAPARTMENTS_MEDI,93997.0,NaN,NaN,NaN,0.008651,0.047415,0.0,0.0,0.0,0.0039,1.0,213514,float64
NONLIVINGAREA_MEDI,137829.0,NaN,NaN,NaN,0.028236,0.070166,0.0,0.0,0.0031,0.0266,1.0,169682,float64
FONDKAPREMONT_MODE,97216,4,reg oper account,73830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,210295,object
HOUSETYPE_MODE,153214,3,block of flats,150503,NaN,NaN,NaN,NaN,NaN,NaN,NaN,154297,object
TOTALAREA_MODE,159080.0,NaN,NaN,NaN,0.102547,0.107462,0.0,0.0412,0.0688,0.1276,1.0,148431,float64
WALLSMATERIAL_MODE,151170,7,Panel,66040,NaN,NaN,NaN,NaN,NaN,NaN,NaN,156341,object
EMERGENCYSTATE_MODE,161756,2,No,159428,NaN,NaN,NaN,NaN,NaN,NaN,NaN,145755,object
OBS_30_CNT_SOCIAL_CIRCLE,306490.0,NaN,NaN,NaN,1.422245,2.400989,0.0,0.0,0.0,2.0,348.0,1021,float64
DEF_30_CNT_SOCIAL_CIRCLE,306490.0,NaN,NaN,NaN,0.143421,0.446698,0.0,0.0,0.0,0.0,34.0,1021,float64
OBS_60_CNT_SOCIAL_CIRCLE,306490.0,NaN,NaN,NaN,1.405292,2.379803,0.0,0.0,0.0,2.0,344.0,1021,float64
DEF_60_CNT_SOCIAL_CIRCLE,306490.0,NaN,NaN,NaN,0.100049,0.362291,0.0,0.0,0.0,0.0,24.0,1021,float64
DAYS_LAST_PHONE_CHANGE,307510.0,NaN,NaN,NaN,-962.858788,826.808487,-4292.0,-1570.0,-757.0,-274.0,0.0,1,float64
FLAG_DOCUMENT_2,307511.0,NaN,NaN,NaN,0.000042,0.006502,0.0,0.0,0.0,0.0,1.0,0,int64
FLAG_DOCUMENT_3,307511.0,NaN,NaN,NaN,0.710023,0.453752,0.0,0.0,1.0,1.0,1.0,0,int64
FLAG_DOCUMENT_4,307511.0,NaN,NaN,NaN,0.000081,0.009016,0.0,0.0,0.0,0.0,1.0,0,int64
FLAG_DOCUMENT_5,307511.0,NaN,NaN,NaN,0.015115,0.12201,0.0,0.0,0.0,0.0,1.0,0,int64
FLAG_DOCUMENT_6,307511.0,NaN,NaN,NaN,0.088055,0.283376,0.0,0.0,0.0,0.0,1.0,0,int64
FLAG_DOCUMENT_7,307511.0,NaN,NaN,NaN,0.000192,0.01385,0.0,0.0,0.0,0.0,1.0,0,int64
FLAG_DOCUMENT_8,307511.0,NaN,NaN,NaN,0.081376,0.273412,0.0,0.0,0.0,0.0,1.0,0,int64
FLAG_DOCUMENT_9,307511.0,NaN,NaN,NaN,0.003896,0.062295,0.0,0.0,0.0,0.0,1.0,0,int64
FLAG_DOCUMENT_10,307511.0,NaN,NaN,NaN,0.000023,0.004771,0.0,0.0,0.0,0.0,1.0,0,int64
FLAG_DOCUMENT_11,307511.0,NaN,NaN,NaN,0.003912,0.062424,0.0,0.0,0.0,0.0,1.0,0,int64
FLAG_DOCUMENT_12,307511.0,NaN,NaN,NaN,0.000007,0.00255,0.0,0.0,0.0,0.0,1.0,0,int64
FLAG_DOCUMENT_13,307511.0,NaN,NaN,NaN,0.003525,0.059268,0.0,0.0,0.0,0.0,1.0,0,int64
FLAG_DOCUMENT_14,307511.0,NaN,NaN,NaN,0.002936,0.05411,0.0,0.0,0.0,0.0,1.0,0,int64
FLAG_DOCUMENT_15,307511.0,NaN,NaN,NaN,0.00121,0.03476,0.0,0.0,0.0,0.0,1.0,0,int64
FLAG_DOCUMENT_16,307511.0,NaN,NaN,NaN,0.009928,0.099144,0.0,0.0,0.0,0.0,1.0,0,int64
FLAG_DOCUMENT_17,307511.0,NaN,NaN,NaN,0.000267,0.016327,0.0,0.0,0.0,0.0,1.0,0,int64
FLAG_DOCUMENT_18,307511.0,NaN,NaN,NaN,0.00813,0.089798,0.0,0.0,0.0,0.0,1.0,0,int64
FLAG_DOCUMENT_19,307511.0,NaN,NaN,NaN,0.000595,0.024387,0.0,0.0,0.0,0.0,1.0,0,int64
FLAG_DOCUMENT_20,307511.0,NaN,NaN,NaN,0.000507,0.022518,0.0,0.0,0.0,0.0,1.0,0,int64
FLAG_DOCUMENT_21,307511.0,NaN,NaN,NaN,0.000335,0.018299,0.0,0.0,0.0,0.0,1.0,0,int64
AMT_REQ_CREDIT_BUREAU_HOUR,265992.0,NaN,NaN,NaN,0.006402,0.083849,0.0,0.0,0.0,0.0,4.0,41519,float64
AMT_REQ_CREDIT_BUREAU_DAY,265992.0,NaN,NaN,NaN,0.007,0.110757,0.0,0.0,0.0,0.0,9.0,41519,float64
AMT_REQ_CREDIT_BUREAU_WEEK,265992.0,NaN,NaN,NaN,0.034362,0.204685,0.0,0.0,0.0,0.0,8.0,41519,float64
AMT_REQ_CREDIT_BUREAU_MON,265992.0,NaN,NaN,NaN,0.267395,0.916002,0.0,0.0,0.0,0.0,27.0,41519,float64
AMT_REQ_CREDIT_BUREAU_QRT,265992.0,NaN,NaN,NaN,0.265474,0.794056,0.0,0.0,0.0,0.0,261.0,41519,float64
AMT_REQ_CREDIT_BUREAU_YEAR,265992.0,NaN,NaN,NaN,1.899974,1.869295,0.0,0.0,1.0,3.0,25.0,41519,float64

In [5]:
#bureau dataset - Second Dataset
bureau_balance = pd.read_csv('bureau_balance.csv')

In [6]:
# Missing Data
missing = pd.DataFrame(bureau_balance.isnull().sum())
missing

                0
SK_ID_BUREAU    0
MONTHS_BALANCE  0
STATUS          0

In [7]:
# Summary Statistics
X_describe = bureau_balance.describe(include='all').T

result = pd.concat([X_describe], axis=0).rename(columns={'count': 'Non-missing Count', 'mean': 'Mean', 'std': 'Standard Deviation', 'min': 'Minimum', '25%': '25th percentile', '50%': '50th percentile', '75%': '75th percentile', 'max': 'Maximum', 'unique': 'Unique Values Count', 'top': 'Mode', 'freq': 'Mode Frequency'})
result['Missing Count'] = pd.concat([missing], axis=0)
result['Data Type'] = pd.concat([bureau_balance.dtypes], axis=0)

# Display the result
pd.set_option('display.max_rows', None)
display(result)

,Non-missing Count,Unique Values Count,Mode,Mode Frequency,Mean,Standard Deviation,Minimum,25th percentile,50th percentile,75th percentile,Maximum,Missing Count,Data Type
SK_ID_BUREAU,27299925.0,NaN,NaN,NaN,6036297.332974,492348.856904,5001709.0,5730933.0,6070821.0,6431951.0,6842888.0,0,int64
MONTHS_BALANCE,27299925.0,NaN,NaN,NaN,-30.741687,23.864509,-96.0,-46.0,-25.0,-11.0,0.0,0,int64
STATUS,27299925,8,C,13646993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,object

In [8]:
bureau = pd.read_csv('bureau.csv')

In [9]:
# Missing Data
missing = pd.DataFrame(bureau.isnull().sum())
missing

                              0
SK_ID_CURR                    0
SK_ID_BUREAU                  0
CREDIT_ACTIVE                 0
CREDIT_CURRENCY               0
DAYS_CREDIT                   0
CREDIT_DAY_OVERDUE            0
DAYS_CREDIT_ENDDATE      105553
DAYS_ENDDATE_FACT        633653
AMT_CREDIT_MAX_OVERDUE  1124488
CNT_CREDIT_PROLONG            0
AMT_CREDIT_SUM               13
AMT_CREDIT_SUM_DEBT      257669
AMT_CREDIT_SUM_LIMIT     591780
AMT_CREDIT_SUM_OVERDUE        0
CREDIT_TYPE                   0
DAYS_CREDIT_UPDATE            0
AMT_ANNUITY             1226791

In [10]:
# Summary Statistics
X_describe = bureau.describe(include='all').T

result = pd.concat([X_describe], axis=0).rename(columns={'count': 'Non-missing Count', 'mean': 'Mean', 'std': 'Standard Deviation', 'min': 'Minimum', '25%': '25th percentile', '50%': '50th percentile', '75%': '75th percentile', 'max': 'Maximum', 'unique': 'Unique Values Count', 'top': 'Mode', 'freq': 'Mode Frequency'})
result['Missing Count'] = pd.concat([missing], axis=0)
result['Data Type'] = pd.concat([bureau.dtypes], axis=0)

# Display the result
pd.set_option('display.max_rows', None)
display(result)

,Non-missing Count,Unique Values Count,Mode,Mode Frequency,Mean,Standard Deviation,Minimum,25th percentile,50th percentile,75th percentile,Maximum,Missing Count,Data Type
SK_ID_CURR,1716428.0,NaN,NaN,NaN,278214.933645,102938.558112,100001.0,188866.75,278055.0,367426.0,456255.0,0,int64
SK_ID_BUREAU,1716428.0,NaN,NaN,NaN,5924434.489032,532265.728552,5000000.0,5463953.75,5926303.5,6385681.25,6843457.0,0,int64
CREDIT_ACTIVE,1716428,4,Closed,1079273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,object
CREDIT_CURRENCY,1716428,4,currency 1,1715020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,object
DAYS_CREDIT,1716428.0,NaN,NaN,NaN,-1142.107685,795.164928,-2922.0,-1666.0,-987.0,-474.0,0.0,0,int64
CREDIT_DAY_OVERDUE,1716428.0,NaN,NaN,NaN,0.818167,36.544428,0.0,0.0,0.0,0.0,2792.0,0,int64
DAYS_CREDIT_ENDDATE,1610875.0,NaN,NaN,NaN,510.517362,4994.219837,-42060.0,-1138.0,-330.0,474.0,31199.0,105553,float64
DAYS_ENDDATE_FACT,1082775.0,NaN,NaN,NaN,-1017.437148,714.010626,-42023.0,-1489.0,-897.0,-425.0,0.0,633653,float64
AMT_CREDIT_MAX_OVERDUE,591940.0,NaN,NaN,NaN,3825.417661,206031.606207,0.0,0.0,0.0,0.0,115987185.0,1124488,float64
CNT_CREDIT_PROLONG,1716428.0,NaN,NaN,NaN,0.00641,0.096224,0.0,0.0,0.0,0.0,9.0,0,int64
AMT_CREDIT_SUM,1716415.0,NaN,NaN,NaN,354994.591918,1149811.34398,0.0,51300.0,125518.5,315000.0,585000000.0,13,float64
AMT_CREDIT_SUM_DEBT,1458759.0,NaN,NaN,NaN,137085.119952,677401.130952,-4705600.32,0.0,0.0,40153.5,170100000.0,257669,float64
AMT_CREDIT_SUM_LIMIT,1124648.0,NaN,NaN,NaN,6229.51498,45032.031476,-586406.115,0.0,0.0,0.0,4705600.32,591780,float64
AMT_CREDIT_SUM_OVERDUE,1716428.0,NaN,NaN,NaN,37.912758,5937.650035,0.0,0.0,0.0,0.0,3756681.0,0,float64
CREDIT_TYPE,1716428,15,Consumer credit,1251615,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,object
DAYS_CREDIT_UPDATE,1716428.0,NaN,NaN,NaN,-593.74832,720.747312,-41947.0,-908.0,-395.0,-33.0,372.0,0,int64
AMT_ANNUITY,489637.0,NaN,NaN,NaN,15712.7577,325826.949053,0.0,0.0,0.0,13500.0,118453423.5,1226791,float64

In [11]:
# installments_payments - Third Dataset
installments_payments = pd.read_csv('installments_payments.csv')

In [12]:
# Missing Data
missing = pd.DataFrame(installments_payments.isnull().sum())
missing

                           0
SK_ID_PREV                 0
SK_ID_CURR                 0
NUM_INSTALMENT_VERSION     0
NUM_INSTALMENT_NUMBER      0
DAYS_INSTALMENT            0
DAYS_ENTRY_PAYMENT      2905
AMT_INSTALMENT             0
AMT_PAYMENT             2905

In [13]:
# Summary Statistics
X_describe = installments_payments.describe(include='all').T

result = pd.concat([X_describe], axis=0).rename(columns={'count': 'Non-missing Count', 'mean': 'Mean', 'std': 'Standard Deviation', 'min': 'Minimum', '25%': '25th percentile', '50%': '50th percentile', '75%': '75th percentile', 'max': 'Maximum', 'unique': 'Unique Values Count', 'top': 'Mode', 'freq': 'Mode Frequency'})
result['Missing Count'] = pd.concat([missing], axis=0)
result['Data Type'] = pd.concat([installments_payments.dtypes], axis=0)

# Display the result
pd.set_option('display.max_rows', None)
display(result)

,Non-missing Count,Mean,Standard Deviation,Minimum,25th percentile,50th percentile,75th percentile,Maximum,Missing Count,Data Type
SK_ID_PREV,13605401.0,1.903365e+06,536202.905546,1000001.0,1434191.000,1896520.000,2369094.000,2843499.000,0,int64
SK_ID_CURR,13605401.0,2.784449e+05,102718.310411,100001.0,189639.000,278685.000,367530.000,456255.000,0,int64
NUM_INSTALMENT_VERSION,13605401.0,8.566373e-01,1.035216,0.0,0.000,1.000,1.000,178.000,0,float64
NUM_INSTALMENT_NUMBER,13605401.0,1.887090e+01,26.664067,1.0,4.000,8.000,19.000,277.000,0,int64
DAYS_INSTALMENT,13605401.0,-1.042270e+03,800.946284,-2922.0,-1654.000,-818.000,-361.000,-1.000,0,float64
DAYS_ENTRY_PAYMENT,13602496.0,-1.051114e+03,800.585883,-4921.0,-1662.000,-827.000,-370.000,-1.000,2905,float64
AMT_INSTALMENT,13605401.0,1.705091e+04,50570.254429,0.0,4226.085,8884.080,16710.210,3771487.845,0,float64
AMT_PAYMENT,13602496.0,1.723822e+04,54735.783981,0.0,3398.265,8125.515,16108.425,3771487.845,2905,float64

In [14]:
# credit_card_balance - Fourth Dataset
credit_card_balance = pd.read_csv('credit_card_balance.csv')

In [15]:
# Missing Data
missing = pd.DataFrame(credit_card_balance.isnull().sum())
missing

                                 0
SK_ID_PREV                       0
SK_ID_CURR                       0
MONTHS_BALANCE                   0
AMT_BALANCE                      0
AMT_CREDIT_LIMIT_ACTUAL          0
AMT_DRAWINGS_ATM_CURRENT    749816
AMT_DRAWINGS_CURRENT             0
AMT_DRAWINGS_OTHER_CURRENT  749816
AMT_DRAWINGS_POS_CURRENT    749816
AMT_INST_MIN_REGULARITY     305236
AMT_PAYMENT_CURRENT         767988
AMT_PAYMENT_TOTAL_CURRENT        0
AMT_RECEIVABLE_PRINCIPAL         0
AMT_RECIVABLE                    0
AMT_TOTAL_RECEIVABLE             0
CNT_DRAWINGS_ATM_CURRENT    749816
CNT_DRAWINGS_CURRENT             0
CNT_DRAWINGS_OTHER_CURRENT  749816
CNT_DRAWINGS_POS_CURRENT    749816
CNT_INSTALMENT_MATURE_CUM   305236
NAME_CONTRACT_STATUS             0
SK_DPD                           0
SK_DPD_DEF                       0

In [16]:
# Summary Statistics
X_describe = credit_card_balance.describe(include='all').T

result = pd.concat([X_describe], axis=0).rename(columns={'count': 'Non-missing Count', 'mean': 'Mean', 'std': 'Standard Deviation', 'min': 'Minimum', '25%': '25th percentile', '50%': '50th percentile', '75%': '75th percentile', 'max': 'Maximum', 'unique': 'Unique Values Count', 'top': 'Mode', 'freq': 'Mode Frequency'})
result['Missing Count'] = pd.concat([missing], axis=0)
result['Data Type'] = pd.concat([credit_card_balance.dtypes], axis=0)

# Display the result
pd.set_option('display.max_rows', None)
display(result)

,Non-missing Count,Unique Values Count,Mode,Mode Frequency,Mean,Standard Deviation,Minimum,25th percentile,50th percentile,75th percentile,Maximum,Missing Count,Data Type
SK_ID_PREV,3840312.0,NaN,NaN,NaN,1904503.5899,536469.470563,1000018.0,1434385.0,1897122.0,2369327.75,2843496.0,0,int64
SK_ID_CURR,3840312.0,NaN,NaN,NaN,278324.207289,102704.475133,100006.0,189517.0,278396.0,367580.0,456250.0,0,int64
MONTHS_BALANCE,3840312.0,NaN,NaN,NaN,-34.521921,26.667751,-96.0,-55.0,-28.0,-11.0,-1.0,0,int64
AMT_BALANCE,3840312.0,NaN,NaN,NaN,58300.155262,106307.031025,-420250.185,0.0,0.0,89046.68625,1505902.185,0,float64
AMT_CREDIT_LIMIT_ACTUAL,3840312.0,NaN,NaN,NaN,153807.9574,165145.699523,0.0,45000.0,112500.0,180000.0,1350000.0,0,int64
AMT_DRAWINGS_ATM_CURRENT,3090496.0,NaN,NaN,NaN,5961.324822,28225.688579,-6827.31,0.0,0.0,0.0,2115000.0,749816,float64
AMT_DRAWINGS_CURRENT,3840312.0,NaN,NaN,NaN,7433.388179,33846.077334,-6211.62,0.0,0.0,0.0,2287098.315,0,float64
AMT_DRAWINGS_OTHER_CURRENT,3090496.0,NaN,NaN,NaN,288.169582,8201.989345,0.0,0.0,0.0,0.0,1529847.0,749816,float64
AMT_DRAWINGS_POS_CURRENT,3090496.0,NaN,NaN,NaN,2968.804848,20796.887047,0.0,0.0,0.0,0.0,2239274.16,749816,float64
AMT_INST_MIN_REGULARITY,3535076.0,NaN,NaN,NaN,3540.204129,5600.154122,0.0,0.0,0.0,6633.91125,202882.005,305236,float64
AMT_PAYMENT_CURRENT,3072324.0,NaN,NaN,NaN,10280.537702,36078.084953,0.0,152.37,2702.7,9000.0,4289207.445,767988,float64
AMT_PAYMENT_TOTAL_CURRENT,3840312.0,NaN,NaN,NaN,7588.856739,32005.987768,0.0,0.0,0.0,6750.0,4278315.69,0,float64
AMT_RECEIVABLE_PRINCIPAL,3840312.0,NaN,NaN,NaN,55965.876905,102533.616843,-423305.82,0.0,0.0,85359.24,1472316.795,0,float64
AMT_RECIVABLE,3840312.0,NaN,NaN,NaN,58088.811177,105965.369908,-420250.185,0.0,0.0,88899.49125,1493338.185,0,float64
AMT_TOTAL_RECEIVABLE,3840312.0,NaN,NaN,NaN,58098.285489,105971.801103,-420250.185,0.0,0.0,88914.51,1493338.185,0,float64
CNT_DRAWINGS_ATM_CURRENT,3090496.0,NaN,NaN,NaN,0.309449,1.100401,0.0,0.0,0.0,0.0,51.0,749816,float64
CNT_DRAWINGS_CURRENT,3840312.0,NaN,NaN,NaN,0.703144,3.190347,0.0,0.0,0.0,0.0,165.0,0,int64
CNT_DRAWINGS_OTHER_CURRENT,3090496.0,NaN,NaN,NaN,0.004812,0.082639,0.0,0.0,0.0,0.0,12.0,749816,float64
CNT_DRAWINGS_POS_CURRENT,3090496.0,NaN,NaN,NaN,0.559479,3.240649,0.0,0.0,0.0,0.0,165.0,749816,float64
CNT_INSTALMENT_MATURE_CUM,3535076.0,NaN,NaN,NaN,20.825084,20.051494,0.0,4.0,15.0,32.0,120.0,305236,float64
NAME_CONTRACT_STATUS,3840312,7,Active,3698436,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,object
SK_DPD,3840312.0,NaN,NaN,NaN,9.283667,97.5157,0.0,0.0,0.0,0.0,3260.0,0,int64
SK_DPD_DEF,3840312.0,NaN,NaN,NaN,0.331622,21.479231,0.0,0.0,0.0,0.0,3260.0,0,int64

In [17]:
# POS_CASH_balance - Fifth Dataset
POS_CASH_balance = pd.read_csv('POS_CASH_balance.csv')

In [18]:
# Missing Data
missing = pd.DataFrame(POS_CASH_balance.isnull().sum())
missing

                           0
SK_ID_PREV                 0
SK_ID_CURR                 0
MONTHS_BALANCE             0
CNT_INSTALMENT         26071
CNT_INSTALMENT_FUTURE  26087
NAME_CONTRACT_STATUS       0
SK_DPD                     0
SK_DPD_DEF                 0

In [19]:
# Summary Statistics
X_describe = POS_CASH_balance.describe(include='all').T

result = pd.concat([X_describe], axis=0).rename(columns={'count': 'Non-missing Count', 'mean': 'Mean', 'std': 'Standard Deviation', 'min': 'Minimum', '25%': '25th percentile', '50%': '50th percentile', '75%': '75th percentile', 'max': 'Maximum', 'unique': 'Unique Values Count', 'top': 'Mode', 'freq': 'Mode Frequency'})
result['Missing Count'] = pd.concat([missing], axis=0)
result['Data Type'] = pd.concat([POS_CASH_balance.dtypes], axis=0)

# Display the result
pd.set_option('display.max_rows', None)
display(result)

,Non-missing Count,Unique Values Count,Mode,Mode Frequency,Mean,Standard Deviation,Minimum,25th percentile,50th percentile,75th percentile,Maximum,Missing Count,Data Type
SK_ID_PREV,10001358.0,NaN,NaN,NaN,1903216.598957,535846.530722,1000001.0,1434405.0,1896565.0,2368963.0,2843499.0,0,int64
SK_ID_CURR,10001358.0,NaN,NaN,NaN,278403.863306,102763.74509,100001.0,189550.0,278654.0,367429.0,456255.0,0,int64
MONTHS_BALANCE,10001358.0,NaN,NaN,NaN,-35.012588,26.06657,-96.0,-54.0,-28.0,-13.0,-1.0,0,int64
CNT_INSTALMENT,9975287.0,NaN,NaN,NaN,17.08965,11.995056,1.0,10.0,12.0,24.0,92.0,26071,float64
CNT_INSTALMENT_FUTURE,9975271.0,NaN,NaN,NaN,10.48384,11.109058,0.0,3.0,7.0,14.0,85.0,26087,float64
NAME_CONTRACT_STATUS,10001358,9,Active,9151119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,object
SK_DPD,10001358.0,NaN,NaN,NaN,11.606928,132.714043,0.0,0.0,0.0,0.0,4231.0,0,int64
SK_DPD_DEF,10001358.0,NaN,NaN,NaN,0.654468,32.762491,0.0,0.0,0.0,0.0,3595.0,0,int64